<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <div class="name_title">
        	<%= @user.name %>
    	</div>
        <%=  image_tag("default-user.png", alt: "default logo", class: "profile_pic") %>
      </h1>
    </section>
  </aside>
</div>
